<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: darkslategrey;">
    <div class="container-fluid">
        <a class="navbar-brand" th:text="#{label.siteName}"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/'}" th:text="#{label.allFolders}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/detailscategory'}" th:text="#{label.categories}"></a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false" th:text="#{interface.language}">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{'?lng=en'}">ENG</a></li>
                        <li><a class="dropdown-item" th:href="@{'?lng=ru'}">RUS</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>